<div class="container my-5">
  <h2 class="text-center">Resultados da Pesquisa</h2>

  {{#if termo}}
    <p class="text-center">Resultados para: <strong>{{termo}}</strong></p>
  {{/if}}

  {{#if resultados.length}}
    <div class="list-group">
      {{#each resultados}}
        <a
          href="/memorial/{{this.slug}}"
          class="list-group-item list-group-item-action d-flex align-items-center"
        >
          <!-- Imagem do memorial -->
          <img
            src="/memorials/{{slug}}/photos/{{this.mainPhoto.url}}"
            alt="Foto de {{this.firstName}}"
            class="rounded me-3"
            style="width: 80px; height: 80px; object-fit: cover; border: 2px solid #4f0e21;"
          />

          <!-- Informações do memorial -->
          <div>
            <h5 class="mb-1">{{this.firstName}} {{this.lastName}}</h5>
            <p class="mb-1">
              <strong>Nascimento:</strong>
              {{formatDate this.birth.date}}
              <br />
              <strong>Falecimento:</strong>
              {{formatDate this.death.date}}
            </p>
          </div>
        </a>
      {{/each}}
    </div>
  {{else}}
    <p class="text-center text-muted">Nenhum memorial encontrado.</p>
  {{/if}}
</div>