<main class="container my-0">
  <div class="bg-white p-4 text-center">
    <h1>Memorial de {{firstName}} {{lastName}}</h1>
    <p>Homenagem a {{firstName}} {{lastName}}.</p>
    <p><strong>Data de Nascimento:</strong> {{birth.date}}</p>
    <p><strong>Local de Nascimento:</strong>
      {{birth.city}},
      {{birth.state}},
      {{birth.country}}</p>
    <p><strong>Data de Falecimento:</strong> {{death.date}}</p>
    <p><strong>Local de Falecimento:</strong>
      {{death.city}},
      {{death.state}},
      {{death.country}}</p>
    <p><strong>Sobre:</strong> {{about}}</p>
    <p><strong>História de Vida:</strong> {{lifeStory}}</p>
  </div>
</main>

<!-- Renderiza o conteúdo salvo no memorial 
<div class="container">
  {{{conteudo}}}
</div> -->