<main class="container my-0">
  <div class="bg-white p-4 text-center">
    <h1>Memorial de {{firstName}} {{lastName}}</h1>
    <p>Homenagem a {{firstName}} {{lastName}}.</p>

    <p><strong>Data de Nascimento:</strong>
      {{#if birth.date}}{{birth.date}}{{else}}Não informada{{/if}}</p>

    <p><strong>Local de Nascimento:</strong>
      {{#if birth.city}}{{birth.city}}{{else}}Local desconhecido{{/if}},
      {{#if birth.state}}{{birth.state}}{{else}}Estado não informado{{/if}},
      {{#if birth.country}}{{birth.country}}{{else}}País não informado{{/if}}
    </p>

    <p><strong>Data de Falecimento:</strong>
      {{#if death.date}}{{death.date}}{{else}}Não informada{{/if}}</p>

    <p><strong>Local de Falecimento:</strong>
      {{#if death.city}}{{death.city}}{{else}}Local desconhecido{{/if}},
      {{#if death.state}}{{death.state}}{{else}}Estado não informado{{/if}},
      {{#if death.country}}{{death.country}}{{else}}País não informado{{/if}}
    </p>

    <p><strong>Sobre:</strong>
      {{#if about}}{{about}}{{else}}Nenhuma biografia disponível.{{/if}}</p>

    <p><strong>História de Vida:</strong></p>
    {{#if lifeStory.length}}
      <ul class="list-group">
        {{#each lifeStory}}
          <li class="list-group-item">
            <h5>{{title}}</h5>
            <p>{{content}}</p>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p>História de vida ainda não foi cadastrada.</p>
    {{/if}}
  </div>
</main>