<main class="container my-0">
  <div class="custom-container my-0 p-2">
    <div class="row">
      <!-- Coluna Principal (3/4) -->
      <div class="col-md-9 my-2">
        
        <!-- Formulário de Edição do Memorial -->
        <div class="custom-box p-4 mt-0 mx-4">
          <h3>Editar Epitáfio</h3>
          <!--<form action="/memorial/{{slug}}/edit/update?_method=PUT" method="POST">-->
          <form action="/memorial/{{slug}}/update/epitaph" method="POST">
            <input type="hidden" name="_method" value="PUT">

            <!-- Nome e Sobrenome 
            <div class="mb-3">
              <label class="form-label"><strong>Nome:</strong></label>
              <input type="text" class="form-control" name="firstName" value="{{firstName}}" readonly>
            </div>
            <div class="mb-3">
              <label class="form-label"><strong>Sobrenome:</strong></label>
              <input type="text" class="form-control" name="lastName" value="{{lastName}}" readonly>
            </div>     -->
            
            <!-- Epitáfio -->
            <fieldset class="mb-3">
              <!--<legend for="epitaph" class="form-label">Epitáfio</legend>-->
              <!--<label class="form-label"><strong>Epitáfio:</strong> <small>(Frase curta em homenagem)</small></label>-->
              <input type="text" class="form-control" name="epitaph" value="{{epitaph}}" placeholder="Exemplo: 'Sempre em nossos corações'">
            </fieldset>

            <!-- Botões de Ação -->
            <!--<div class="text-end mt-4">-->
            <div class="d-flex justify-content-end align-items-center gap-2 mt-4">
              <a href="/memorial/{{slug}}" class="btn btn-secondary">Cancelar</a>
              <button type="submit" class="btn btn-primary">Atualizar</button>
            </div>
          </form>

        </div>
      </div>

      <!-- Coluna Lateral (1/4) -->
      <div class="col-md-3">
        <div class="custom-box p-3 mt-2 me-4">
          <h4><i class="bi bi-share-fill"></i> Compartilhe</h4>
          <ul class="list-unstyled">
            <li>Convide amigos e familiares para visitar este memorial.</li>
            <li>Mantenha viva na memória as lembranças</li>
          </ul>
        </div>

        <div class="custom-box p-3 mt-3 me-4">
          <h4><i class="bi bi-bar-chart-fill"></i> Estatísticas</h4>
          <p><strong>Visitas:</strong> 1234</p>
          <p><strong>Tributos:</strong> {{tribute.length}}</p>
        </div>

        <div class="custom-box p-3 mt-3 me-4">
          <h4>Galeria</h4>
          {{#if gallery.photos.length}}
            {{#each gallery.photos}}
              <img src="/images/uploads/{{this}}" class="img-fluid rounded mb-2 custom-photo-size" alt="Foto de {{../firstName}}">
            {{/each}}
          {{else}}
            <p>Nenhuma foto disponível.</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</main>